.widget-wrapper {
    margin: 1.5em 0;

    .widget {
        color: $black;
        margin-right: .5em;
    }

    .print, .share {
        @include roboto-bold;
        background: none;
        border: 0;
        color: $red;
        padding: 0;
    }
}
